@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}



.paige-container {

    display: flex;
    border-radius: 10px;
    background-color: #F3F5F8;
    justify-content: center;
    align-items: center;
    height: 100vh;


}


* h2 {

    font-size: 30px !important;
    font-family: "Inter";
    font-weight: normal;
    padding-top: 22px;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}

* h3 {
    color: #525866;
    font-size: 15px;
    margin-bottom: 27px;
    padding: 10px;
    font-family: "Inter";
    font-weight: 400;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}

* h4 {

    font-size: 14px;
    display: block;
    margin: 5px;
    margin-bottom: 6px;
    width: 438px;
    font-family: "Inter";

}

.passwordForgot {
    display: flex;
    width: 437px;
    justify-content: center;
    align-items: center;




}

.forgot {
    color: #525866;
    font-family: "Inter";
    font-size: 12px;

}

.inpt {
    padding: 18px;
    border: none;
    background-color: white !important;
    border-radius: 12px !important;
    width: 444px !important;
    margin-bottom: 20px;
    font-family: "Inter";

    border: 2px solid #CACFD8 !important;

}


.btn {

    background-color: #335CFF !important;
    padding: 18px;
    width: 444px !important;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
    font-family: "Inter";


}

.form-hint {
    background-color: white;
    color: #525866;
    margin-top: 15px;
    border-top: 1px solid #E0E4EA !important;
    padding: 10px;
    width: 444px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";

    text-decoration: none;
}

.form-hint strong {
    margin-left: 15px;
}



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #E0E4EA !important;

    width: 540px !important;
    height: 556px !important;


}

.logo {

    height: 40px;

}

/* Pagina 2 */

.container2 {
    display: flex;

}

.chats {

    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #ccc;

}


.New-chat {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 14vw;
    margin: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;

}

.chat1 {
    background-color: #F7F9FB;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;


}

.chat1 img {

    margin-right: 15px;
}



.chat2 {
    background-color: #F7F9FB;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.chat2 img {

    margin-right: 15px;
}


.contexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    width: 100vw;

}

.logo2 {

    display: flex;
    justify-content: center;
    align-items: center;

}


.tabela th {
    font-size: 22px;
    height: 8vh;
    padding: 10px;

}

.tabela th img {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;



}

.tabela button {
    background-color: #F7F9FB;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    height: 7vh;

}

.input-container input {

    padding: 20px;
    border: none;
    background-color: #F7F9FB;
    border-radius: 16px;
    width: 40vw;


}


.input-container {
    height: 7vh;
    border: none;
    border-radius: 16px;
    background-color: #F7F9FB;
    display: flex;

    margin-top: auto;
    margin-bottom: 40px;


}

.input-container img {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

/* .input-container img:nth-child(3) {

    margin-right: 1000px;

} */


.enviar {

    padding-right: 15px;

}