* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {

    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: blue;
}



.Painel-lateral {
    display: flex;
    flex-direction: column;
    width: 272px;
    align-items: flex-start;
    border-right: 1px solid rgb(200, 200, 200);

}

.Painel-lateral-top {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.Painel-central {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    
    padding: 24px;
}

.Painel-central h1 {

    margin-bottom: 16px;
}

.note-tittle {

    padding: 8px;
    
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}


.Painel-lateral-dir {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: flex-end;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

