@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}


.container {
    display: flex;

}

img.tag {
    margin: 10px;
}

.tags {

    width: 272px !important;
    height: 900px;
    flex-direction: column;
    /* align-items: center;
    display: flex;
    justify-content: space-between; */
    border-right: 1px solid #E0E4EA;
    font-family: "Inter";
    text-decoration: none !important;


}

.globo-tags {

    /* border: 2px solid black; */
    /* width: 240px;
    height: 565px; */

    justify-content: center;
    display: flex;
    flex-direction: column;
    display: flex;


}

.logo {
    height: 30px;
    width: 240px;
    margin: 16px;



}

.newNote {

    width: 290px;
    height: 818px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #E0E4EA;
    font-family: "Inter";


}

.notes {

    border: 2px solid black;
    width: 242px;
    height: 745px;

    justify-content: center;
    display: flex;
    flex-direction: column;


}

.notes button {
    flex-direction: column;
    width: 238px;
    height: 106px;
    background-color: white;
    border: none;
    border-bottom: 1px solid #E0E4EA;

   
}


.allNotes {

    display: flex;
    border-bottom: 1px solid #E0E4EA;
    height: 81px;
    width: 100%;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    /* justify-content: center; */


}


.middle {

    /* height: 100%;
    width: 100%; */
    align-self: flex-start;
    font-family: "Inter";

}


.edit-nota {


    height: 819px;
    width: 878px;
    /* flex-direction: column; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #E0E4EA;
    font-family: "Inter";
    padding: 23px !important;


    margin: 0;

    margin-top: -819px;
    flex-direction: row-reverse;


}


.edit-nota h1 {

    font-size: 24px;
}



.photo {

    margin-top: -644px;
    display: flex;



}

.tags button {

    align-items: center;
    /* justify-content: center; */
    display: flex;
    width: 240px;
    height: 40px;
    margin: 0px 16px 1px 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;

    font-family: "Inter";

}

.tags p {
    border-top: 1px solid #E0E4EA;
    width: 240px;
    margin: 10px 16px 8px 16px;
    font-family: "Inter";
    color: #717784;


}

.create {
    color: white;
    background-color: blue;
    margin: 16px;
    width: 240px;
    height: 41px;
    border-radius: 8px;
    border: none;
    font-family: "Inter";
}

/* .end{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid red;
    height: 819px;
    width: 1200px;
    align-self: flex-start;

} */

.end button {

    font-family: "Inter";
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 242px !;
    height: 44px;
    margin: 10px;

    border-radius: 8px;
    background-color: white;
    border: 1px solid #CACFD8;


}

.allNotes h1 {

    font-size: 24px;
    font-family: "Inter";
    align-items: start;
    justify-content: center;
    display: flex;
    /* padding: 40px; */


    align-items: start;
}