@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}



.page-container {

    display: flex;
    border-radius: 10px;
    background-color: #F3F5F8;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;


}


* h2 {

    font-size: 25px !important;
    font-family: "Inter";
    font-weight: normal;
    padding-top: 22px;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}


* h3 {
    color: #525866;
    font-size: 14px;
    margin-bottom: 27px;
    padding: 10px;
    font-family: "Inter";
    font-weight: 400;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;


}

* h4 {

    font-size: 14px;
    display: block;
    margin: 5px;
    margin-bottom: 6px;
    width: 438px;
    font-family: "Inter";

}

.infor {

    display: flex;
    align-items: flex-end;
    width: 444px;
    height: 0px;
    font-family: "Inter";

    color: #525866;
    margin: 12px;

}
s
.inpt {
    padding: 18px;
    border: none;
    background-color: white !important;
    border-radius: 12px !important;
    width: 444px !important;
    margin-bottom: 20px;
    font-family: "Inter";

    border: 2px solid #CACFD8 !important;
    display: flex;

}

.btn {

    background-color: #335CFF !important;
    padding: 18px;
    width: 444px !important;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 3px;
    font-family: "Inter";




}

.form-hint {
    background-color: white;
    color: #525866;
    margin-top: 10px;
    border-top: 1px solid #E0E4EA !important;
    display: flex;
    font-family: "Inter";

}

.form-hint strong {
    margin-left: 15px;
}



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #E0E4EA !important;

    width: 540px !important;
    height: 556px !important;




}

.logo {

    height: 40px;

}